<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- Secțiuni de configurare pot fi adăugate aici -->
	</configSections>

	<appSettings>
		<add key="NumeFisier" value="angajati.txt"/>
		<!-- Alte setări pot fi adăugate aici -->
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>